*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fee6ed;
}

/*header style start*/
header {
    background-color:#fee6ed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9000;
}

header h1 {
    font-weight: normal;
    font-size: 20px;
    color: #202a25;
    margin: 0;
    font-style: italic;
}

header a {
    text-decoration: none;
    color: #202a25;
}

header span {
    color: #f9afbc;
}

header nav {
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 12px 12px;
    font-size: 1.30vw;
    font-style: italic;
    margin: 5px;
}

header nav ul li a:hover {
    background-color: #f9afbc;
    color: #caffd0;
    border: #e79aa9 solid 1px;
    border-radius: 5px;
}

/*hero style start*/
.hero {
    display: flex;
    text-align: center;
}
.hero-intro {
    background-color: #f9afbc;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 450px;
    margin: 0 auto;

}

.hero-intro h2 {
    border-bottom: 2px solid #ffd147;
    font-size: 60px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.hero-intro p {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    line-height: 2.0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-imgs {
    background-color: #caffd0;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    height: 450px;
    width: 80%;
}

.pinky {
    width: 450px;
    height: 450px;
    position: relative;
    left: 350px;
    border-radius: 100%;
    border: #ffd147 dashed 4px;
}

.alyc {
    width: 250px;
    height: 250px;
    position: relative;
    top: 100px;
    right: 600px;
    border-radius: 100%;
    border: #ffd147 dashed 4px;
}